@charset "UTF-8";
@font-face {
  font-family: "王漢宗特明體繁";
  src: url(../font/WT004.TTF); }

@font-face {
  font-family: "Adobe Heiti Std R";
  src: url(../font/ADOBEHEITISTD-REGULAR.OTF); }

p {
  line-height: 1.5; }

.textEmphasis {
  font-size: 3rem;
  color: #362e2b;
  font-family: 王漢宗特明體繁;
  letter-spacing: 10px; }

.textHiliR {
  color: #a34f49; }

.textHiliB {
  color: #006ca6; }

.titlePri {
  font-family: 王漢宗特明體繁;
  color: #006ca6;
  font-size: 3rem;
  text-align: center; }

.titleSec {
  position: relative;
  color: #362e2b;
  font-size: 1.5rem;
  font-family: Adobe Heiti Std R;
  text-align: center;
  margin: 80px 0; }

.titleSec img {
  width: 110px;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1; }

.textL {
  font-family: Adobe Heiti Std R;
  font-size: 1.5rem; }

.textM {
  color: #362e2b;
  font-family: Adobe Heiti Std R;
  font-size: 1.25rem;
  text-align: center; }

.textS {
  font-family: Adobe Heiti Std R;
  font-size: 1rem; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: e;
  border-spacing: 0; }

a {
  text-decoration: none; }

#headerLogo {
  padding-top: 3px;
  position: relative;
  text-align: center;
  margin: auto;
  width: 250px;
  background: url(../../image/headerLogoBg.svg) no-repeat;
  background-size: 100% 100%; }

#headerLogo a {
  width: 200px;
  height: 160px;
  display: inline-block;
  margin-top: 15px; }

#headerLogo img {
  width: 195px;
  vertical-align: middle; }

header::before {
  content: '';
  background-image: url(../../image/navrog.svg);
  background-size: cover;
  background-position: center;
  display: block;
  height: 15px;
  width: 100%; }

header::after {
  content: '';
  background-image: url(../../image/navrog.svg);
  background-size: cover;
  background-position: center;
  display: block;
  height: 15px;
  width: 100%; }

header {
  background: #fffcf2;
  margin-top: 10px;
  position: relative; }

#headerMenu {
  text-align: center; }

#headerMenu a {
  color: #362e2b;
  font-size: 1.5rem;
  font-family: Adobe Heiti Std R;
  display: inline-block;
  padding: 20px; }

#headerMe {
  background: #385478;
  color: #fff;
  font-size: 1.25rem;
  font-family: Adobe Heiti Std R;
  position: absolute; }

#headerMe a {
  color: #fff; }

body {
  margin: 0; }
