@import '../base/font';
@import '../base/reset';
// @import '../base/lightbox';

input{
    height: 20px;
    border-radius:2px;
    background:#fff;
    border:1px  #aaa solid;
    cursor:pointer;
    margin: 5px;
}
.btnpri{
    margin: 10px;
}

#tab-demo ul > li{
    display: inline;
}

.titlePri{
    margin: 10px;
    font-size: 20px;
}
#signnew{
    width: 100px;
    transition: all 0.1s cubic-bezier(.57,.8,.76,1.34) ;
}

.Data-Title {
    // float: left;    
    // width: 25%; /* Label寬度，視情況調整0 */
    // margin-right:0px;
    // margin-left: 60px;
    text-align: right;
    margin: auto;
    width: 300px;
    // line-height: 2.2;
   
}

// .Data-Items {
//     float: left;
//     width: 20%;
//     padding-bottom: 10px;
//     margin-left:0;
    
// }
.verification{
    padding-top: 20px;
    text-align: center;
    margin: auto;
    // width:400px;
    // display: none;
    /* position: absolute0; */
    top: 100px;
    button{
        color: $beige;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        border-radius: 100px;
        background: $blue;
        border: none;
        outline: none;
        transform: translateY(0px);
        transition-duration: 0.1s;
        cursor: pointer;
        i{

            vertical-align:1px;
        }
        &:hover{
            transform: translateY(-3px);
            box-shadow: 0 3px 5px #a67c52;
        }
    }
    
}

.Data-Title > label{
    margin: 10px;
}



.paper{
    width: 410px;
    padding: 50px 0;
}
@media screen and (max-width: 768px){
    .info{
        width: 370px;
    }
    .axis{
        width: 370px;
    }
    .paper{
        width: 350px;
    }

}