@import '../base/font';
@import '../base/reset';
@import '../layout/header';


body {
    background-image: url("../image/background/BgPage.png");
    background-repeat: repeat-y;
    background-size: 100% auto;
}
.marWrap {
    font-family: $fofaText;
    overflow: hidden;
}

h1, h2, h3, h4 {
    text-shadow: .1px .1px .1px #443c3a;
}

span,a {
    color: rgb(15, 15, 15);
    font-size: 1rem;
}

img {
    width: 100%;
}

.clearfix {
    clear: both;
}

.marBanner{
    width: 100%;
    // height: 600px;
    text-align: center;
    margin: 50px 0 30px 0;

    .mlslBox {
        width: 50%;
        overflow: hidden;
        position: absolute;
        margin-left: -10%;
    }

    .marBoard {
        position: absolute;
        opacity: .65;
        transition: .6s;
        left: 7%;
        top: 200px;
        transform: perspective(1000px) rotateY(42deg) skewY(-12deg); 
        display: none;
    }

    .marBoard + .marBoard{
        left: 30%;
        top: 50px;
        transform: perspective(1000px) rotateY(42deg) skewY(-12deg) scale(.5); 
    }

    .marBoard + .marBoard + .marBoard{
        left: 50%;
        top: -50px;
        transform: perspective(1000px) rotateY(42deg) skewY(-12deg) scale(.3);
        opacity: 0;
    }

    .mlsl { 
        width: 120%;
        transition: .6s;
    }

    h1 {
        margin: 30px auto;
    }

    .marTitBox {
        width: 200px;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        position: relative;

        .titFrame {
            position: absolute;
            margin: 3px 0 0 -46px;
            display: block;
            transform: translateX(0px);
            transition: 1s;
            width: 110px;
        }

        
    }

    .marTitBox + span {
        display: block;
        margin-top: 70px;
    }

    .marTitInBox {
        position: relative;
        margin: 20px 0 0 10%;
    }
    
    .marTitInBox:hover h2 {
        color: #fff;
        text-shadow: 0 0 2px #000;
    }



    h2 {
        padding: 10px;
        margin: 0;
        transform: scale(.9);
        transition: .2s;
    }

    .currentMar h2 {
        transform: scale(1);
        // font-weight: bold;
    }
}

.marMain {
    width: 100%;
}
.shipYard {
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 10;
    .marBorDec {
        position: absolute;
        bottom: -8px;
        width: 100%;
    }
    .shipYardCont {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        margin: 0 5%;
        width: 90%;
        
        .sYMList {
            width: 100%;
            margin-top: 30px;
        }
        
        .sYMTypeBox {
            position: relative;
            width: 100%;
            padding-bottom: 10px;
            margin-bottom: 20px;
            border-radius: 4px;
            background-color: rgb(87, 73, 52);
            box-shadow: 0px 0px 1px 1px rgb(112, 102, 92),
                        0px 0px 6px 1px rgb(0, 0, 0) inset,
                        0 0 0 4px rgb(99, 89, 80);
        }

        .sYMerch {
            width: 30vw;
            padding: 0 1vw 0 1vw;
            box-sizing: border-box;
            border-radius: 4px;
        }

        .slick-slide {
            background-color: rgb(230, 222, 211);
            border-radius: 4px;
            margin: 2vw 0 0 3vw;
            transform: translateX(-55%);
        }

        .sYMerchImg {
            display: block;
            position: relative;
            overflow: hidden;
            transition: .6s;

            img {
                transform: scale(1.25);
                position: relative;
                top: 10px;
                left: -5vw;
            }

            .sYMerchHeadImg {
                top: -26px;
                left: 8vw;
            }
            .sYMerchBodyImg {
                transform: scale(1);
                top: -16px;
                left: -1vw;
            }
        }

        .typeHead .sYMerchImg img {
            top: -26px;
            left: 8vw;
        }

        .typeBody .sYMerchImg img {
            transform: scale(1);
            top: -16px;
            left: -1vw;
        }

        .sYMerch .sYMerchImg .visibleBtn {
            position: absolute;
            bottom: 0;
            left: auto;
            right: 3%;
            top: auto;
            transform: scale(1);
            width: 20%;
            display: none;
        }

        .sYMerch .sYMerchImg .unvisibleBtn {
            position: absolute;
            bottom: 2px;
            left: auto;
            right: 3%;
            top: auto;
            transform: scale(1);
            width: 20%;
            display: none;
        }

        .sYMerchIntroBox {
            margin-top: -15vw;
        }

        .sYIntroPrice {
            color: #a34f49;
        }

        .merchPartPrice {
            color: #55150f;
        }

        .sYMerchText {
            text-align: center;
            margin: 20px 0 10px 0;
            span {
                color: rgb(48, 48, 48);
                margin-right: 1rem;
            }
            h3 {
                margin-bottom: 10px;
            }
            .sYIntroPrice {
                color: #55150f;
            }
    
            .merchPartPrice {
                color: #a34f49;
            }
        }

        

        .sYMerchBtn {
            text-align: center;
            .btnpri {
                span {
                    padding: 10px 8px;
                }
            }
        }

        .mSSDCont {
            position: relative;
            #drawLineCanvas {
                display: none;
            }
            .sYMerchPreviewBox {
                width: 100%;
                z-index: 1;
                position: absolute;
                margin-top: 4vw;
                text-align: center;
                left: 100vw;
                transition: .6s;

                .sYMerchPreviewshelf {
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    position: relative;
                    margin-top: 12vw;
                    border-radius: 4px;
                    padding-bottom: 15px;
                    background-color: rgb(212, 197, 175);
                    box-shadow: 0px 0px 1px 1px rgb(112, 102, 92),
                                0px 0px 6px 1px rgb(0, 0, 0) inset,
                                0 0 0 4px rgb(99, 89, 80);
                }
            }
            .sYShipPreviewBox {
                width: 100%;
                margin-top: -50px;
            }
        }

        .merchPartBox {
            width: 30%;
            text-align: center;
            h3 {
                color: #a34f49;
                text-shadow: .1px .1px .1px #000;
                transition: .2s;
            }
        }

        .merchPartBox:hover h3 {
            color: #554e4d;
        }

        .mydefaultHead {
            h3 {
                color: #554e4d;
            }
        }

        .mydefaultBody {
            h3 {
                color: #554e4d;
            }
        }

        .mydefaultSail {
            h3 {
                color: #554e4d;
            }
        }

        .sYbuymerchesBtn {
            margin-top: 10px;
            transition: .6s;
        }
        .sYClosePreviewBtn {
            position: absolute;
            right: 4vw;
            top: 13vw;
            font-size: 1.5rem;
        }

        .sYToolBox {
            padding: 10px 10px 10px 10px;
            display: flex;
            justify-content: flex-end;
            margin-top: -20px;
            position: relative;
            z-index: 1;
            line-height: 1.25rem;
            a {
                h4 {
                    display: inline-block;
                    padding-left: 1rem;
                    color: #006ca6;
                }
                &:first-of-type span{
                    color: #a34f49;
                }
                &:hover {
                    h4 {
                        color: #a34f49;
                    }
                }
            }
        }

        .sYShipPreviewBox {
            position: relative;
            #sYHead {
                transition: .6s;
                position: absolute;
                z-index: 0;
                &.doHeadAnimation {
                    transform: translateX(-100px);
                    transition: transform 0.3s;
                }
            }
            #sYBody {
                transition: .6s;
                &.doBodyAnimation {
                    transform: translateX(100px);
                    transition: transform 0.3s;
                }
            }
            #sYSail {
                transition: .6s;
                position: absolute;
                z-index: 0;
                top: 0;
                &.doSailAnimation {
                    transform: scaleY(0) translateY(-200px);
                    transition: transform cubic-bezier(0,1,.4,1) 0.5s;
                    transform-origin: 50% 20%;
                }
                &.doBodyAnimation {
                    transform: translateX(100px);
                    transition: transform 0.3s;
                }
            }

            .sYPreviewBtn {
                position: absolute;
                z-index: 0;
                right: 0;
                bottom: 3.5rem;
                img {
                    width: 1rem;
                    margin: 0 0 0 .5rem;
                }
            }
            .sYReverseBtn {
                position: absolute;
                right: 0;
                bottom: 2rem;
                img {
                    width: 1rem;
                    margin: 0 0 0 .5rem;
                }
                &:hover{
                    img {
                        animation: reverseAnimation 20s infinite;
                    }
                    span {
                        color: #1d5370;
                    }
                }
                
                @keyframes reverseAnimation {
                    from {
                        transform: rotate(3600deg);
                    }
                    to {
                        transform: rotate(0deg);
                    }
                }
            }
        }

        .merchHead {
            position: relative;
            order: 2;
            img {
                margin-left: 5.5vw;
                transform: scale(1.3);
                position: relative;
                left: 2.5vw;
            }
        }

        .merchBody {
            position: relative;
            order: 3;
            img {
                position: relative;
                top: 3vw;
            }
        }

        .merchSail {
            position: relative;
            order: 1;
            img {
                transform: scale(1.3);
                position: relative;
                top: 9vw;
                left: -5vw;
            }
        }
    }

}
.typeHot, .typeHead, .typeBody, .typeSail  {
    display: flex;
    flex-wrap: wrap;
}

.sYTypeTagBox {
    border-radius: 4px;
            background-color: rgb(212, 197, 175);
            box-shadow: 
                0 0 0 4px rgb(99, 89, 80),
                // 4px 4px 4px 0 #000
                ;
    width: 220px;
    margin-bottom: 2px;
    a {
        
        h4 {
            border-radius: 0px;
            background-color: rgb(212, 197, 175);
            box-shadow: 
                0px 0px 2px 1px rgb(0, 0, 0) inset,
                0 0 0 2px rgb(99, 89, 80);
            display: inline-block;
            padding: 10px 10px;
            
        }
        
    }
    .current_type h4{
        background-color: rgb(99, 89, 80);
        box-shadow: 
            // 0px 0px 6px 1px rgb(0, 0, 0) inset,
            0 0 0 2px rgb(99, 89, 80);
        color: #fff;
    }
}
.shipYard .shipYardCont .sYMerch .sYMerchImg .unvisibleBtn {
    bottom: auto;
    top: 25vw;
}
.SYremoveMerch {
    position: absolute;
    bottom: 2.5rem;
    right: 3%;
    color: #4b4b4b;
}
.SYPriceTag {
    color: #303030;
}


.merchPartintro h3 {
    margin-bottom: 10px;
}

.buyAllIntro {
    display: none;
}

.shipYard .shipYardCont .sYMTypeBox .ownedMerch {
    order: 1;
    background-color: #af9f87;
}

.ownedMerch .btnpri:hover .wave {
    animation-duration: 0s;
}


.slick-slider .slick-track {
    display: flex;
    flex-direction: row-reverse;
}


@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}



@media screen and (min-width: 1024px){
    .marBanner {
        margin-top: 250px;
    }
    .shipYardCont {
        width: 1200px;
        margin: auto;
    }
    #headerMeShip img {
        width: auto;
    }
    .shipYard .shipYardCont {
        flex-direction: column;
        width: 100%;
        margin: auto;
        display: block;
    }
    .shipYard .shipYardCont .sYMList {
        width: 28%;
        margin-left: 30px;
        float: left;
    }
    .shipYard .shipYardCont .mSSDCont {
        width: 69%;
        float: left;
        margin-top: 60px;
    }
    .shipYard .shipYardCont .mSSDCont .sYShipPreviewBox {
        width: 50%;
        float: left;
        margin-top: -100px;
        #sYBody {
            position: relative;
        }
        #sYHead{
            z-index: 1;
        }
        #sYHead ,#sYBody, #sYSail {
            width: 120%;
            left: -20%;
        }
    }
    .shipYard .shipYardCont .sYMerch {
        width: 90%;
        margin: 10px 5%;
        display: flex;
        background-color: rgb(219, 204, 171);
        box-shadow: 1px 1px 4px 0px #000;
        cursor: pointer;
    }
    .shipYard .shipYardCont .currentPreview {
        box-shadow: 1px 1px 4px 0px #000,
                    0 0 4px 4px #574934,
                    0 0 4px 8px rgb(206, 108, 108);
                    h3 {
                        color: #a34f49;
                        text-shadow: .1px .1px .1px #000;
                    }
    }
 
    .shipYard .shipYardCont .sYMerchImg {
        width: 50%;
        height: 100px;
        margin: 10px 10px 10px 0;
        background-color: rgb(235, 230, 214);
        border-radius: 4px;
        box-shadow: 1px 1px 4px 0px rgba(53, 53, 53, 0.3);
    }
    .shipYard .shipYardCont .sYMerchImg img {
        left: -16%;
        top: -4px;
        transition: .6s;
    }
    
    .shipYard .shipYardCont .sYMerch:hover .sYMerchImg .sYMerchHeadImg {
        transform: scale(1.40);
    }

    .shipYard .shipYardCont .sYMerch:hover .sYMerchImg .sYMerchBodyImg {
        transform: scale(1.12);
    }

    .shipYard .shipYardCont .sYMerch:hover .sYMerchImg .sYMerchSailImg {
        transform: scale(1.35);
    }

    .shipYard .shipYardCont .sYMerch:hover .btnpri .wave {
        // animation-name: dowave;
        // animation-duration: 1.8s;
        // animation-iteration-count: infinite;
        // transition-timing-function: ease-in-out;
        background-color: #914444;
    }

    .shipYard .shipYardCont .sYMerch:hover {
        box-shadow: 1px 1px 4px 0px #000, 0 0 4px 4px #574934, 0 0 4px 8px #ce6c6c;
    }

    .shipYard .shipYardCont .typeHead .sYMerchImg img {
        left: 27%;
        top: -27px;
    }
    .shipYard .shipYardCont .typeBody .sYMerchImg img {
        transform: scale(1.02);
        left: -1%;
        top: -45px;
    }
    .shipYard .shipYardCont .sYMerchIntroBox {
        margin: auto;
    }
    .shipYard .shipYardCont .sYMerchText {
        text-align: left;
        margin: 0 0 10px 0;
    }
    .shipYard .shipYardCont .sYMTypeBox {
        padding-top: 10px;
        height: 430px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 12px;
            background-color: #574934;
            box-shadow: 0px 0px 3px .5px rgba(0, 0, 0,.3);
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #a19476;
        }
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }
    }
    .shipYard .shipYardCont .mSSDCont .sYMerchPreviewBox {
        position: relative;
        left: auto;
        width: 40%;
        float: left;
        margin-left: 10%;
        margin-top: 36px;
    }
    .shipYard .shipYardCont .sYClosePreviewBtn {
        display: none;
    }
    .shipYard .shipYardCont .mSSDCont .sYMerchPreviewBox .sYMerchPreviewshelf {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .shipYard .shipYardCont .merchPartBox {
        width: 100%;
        text-align-last: left;
        display: flex;
        .merchPartImg {
            width: 30%;
            .sYMerchCircle {
                transition: .6s;
                position: absolute;
                top: 1vw;
                left: 0;
                width: 96px;
                height: 96px;
                border-radius: 50%;
                background-color: #bdaa8f;
                box-shadow: 
                            0px 0px 1px 1px #70665c,
                            0px 0px 20px 1px rgb(0, 0, 0) inset,
                            0 0 0 4px #635950,
                            0px 0px 4px 5px #ffffff,
                            0px 0px 4px 11px #ac4d4d,
                            0px 0px 4px 12px #742e2e;
            }
            
        }
        
    }
    
    .shipYard .shipYardCont .mydefaultHead .merchPartImg .sYMerchCircle {
        box-shadow: 
            0px 0px 1px 1px #70665c,
            0px 0px 6px 1px rgb(0, 0, 0) inset,
            0 0 0 4px #635950;
        background-color: #d6ccbd;
    }

    .shipYard .shipYardCont .mydefaultBody .merchPartImg .sYMerchCircle {
        box-shadow: 
            0px 0px 1px 1px #70665c,
            0px 0px 6px 1px rgb(0, 0, 0) inset,
            0 0 0 4px #635950;
        background-color: #d6ccbd;
    }
    .shipYard .shipYardCont .mydefaultSail .merchPartImg .sYMerchCircle {
        box-shadow: 
            0px 0px 1px 1px #70665c,
            0px 0px 6px 1px rgb(0, 0, 0) inset,
            0 0 0 4px #635950;
        background-color: #d6ccbd;
    }

    .merchPartintro h3 {
        color: #111111;
    }

    .mydefaultHead .merchPartintro h3 {
        color: #554e4d;
    }

    .mydefaultBody .merchPartintro h3 {
        color: #554e4d;
    }

    .mydefaultSail .merchPartintro h3 {
        color: #554e4d;
    }

    .shipYard .shipYardCont .merchHead img {
        margin-left: 0;
    }
    .shipYard .shipYardCont .mSSDCont .sYMerchPreviewBox .sYMerchPreviewshelf {
        background: transparent;
        box-shadow: none;
        margin-top: 0;
    }
    .shipYard .shipYardCont .merchBody img {
        top: 4px;
        left: -3px;
    }
    .shipYard .shipYardCont .merchSail img {
        top: 25px;
        left: -19%;
        color: rgba(32, 32, 32,4);
        color: rgba(77, 77, 77,4);
        color: rgba(112, 112, 112,4);
        color: rgba(194, 194, 194,4);
        color: rgba(0, 0, 0,4);
    }
    @keyframes previewMoveParts {
        
    }

    .shipYard .shipYardCont .sYShipPreviewBox .sYPreviewBtn {
        display: none;
    }
    .shipYard .shipYardCont .sYMerchBtn .btnpri span {
        padding: 10px 10px;
    }
    .shipYard .shipYardCont .merchHead img {
        left: 30%;
    }
    .merchPartintro {
        margin: 0 0 0 2rem;
        padding-top: 40px;
        width: 50%;
    }
    .SYremoveMerch {
        font-size: 1.5rem;
        position: relative;
        top: -70px;
        right: -7rem;
        display: none;
    }
    .merchPartBox:hover .SYremoveMerch{
        display: block;
    }
    .shipYard .shipYardCont .sYShipPreviewBox .sYReverseBtn {
        bottom: 5rem;
        z-index: 2;
        right: 30px;
        
    }
    .shipYard .shipYardCont .sYToolBox {
        position: absolute;
        right: 0;
        bottom: 34px;
        right: 20px;
    }
    .marBanner .marBoard {
        display: block;
        width: auto;
    }
    .merchPartintro h3 {
        margin-bottom: 20px;
    }
    .shipYard .shipYardCont .mSSDCont #drawLineCanvas {
        display: block;
        position: absolute;
    }
    .shipYard .shipYardCont .sYMerchImg .sYMerchHeadImg {
        left: 27%;
        top: -27px;
    }
    .shipYard .shipYardCont .sYMerchImg .sYMerchBodyImg {
        transform: scale(1.02);
        left: -1%;
        top: -45px;
    }
    .shipYard .shipYardCont .sYMerchImg .sYMerchSailImg {
        left: -16%;
        top: -4px;
    }
    .previewAnimation{
        animation-name: previewHead;
        animation-duration: .6s;
        animation-timing-function: ease;
    }
    @keyframes previewHead {
        from{
            left: -100%;
        }to{
            left: -10%;
        }
    }
    @keyframes previewBody {
        from{
            left: -100%;
        }to{
            left: -10%;
        }
    }
    @keyframes previewSail {
        from{
            left: -100%;
        }to{
            left: -10%;
        }
    }

    
.shipYard .shipYardCont .mydefaultHead:hover .merchPartintro .SYremoveMerch {
    display: none;
}
.shipYard .shipYardCont .mydefaultBody:hover .merchPartintro .SYremoveMerch {
    display: none;
}
.shipYard .shipYardCont .mydefaultSail:hover .merchPartintro .SYremoveMerch {
    display: none;
}
.shipYard .shipYardCont .sYMerch .sYMerchImg .unvisibleBtn {
    top: auto;
    bottom: 2px;
}
.shipYard .shipYardCont .sYMerch .sYMerchImg .unvisibleBtn {
    transition: 0s;
}
.shipYard .shipYardCont .currentPreview .sYMerchImg {
    background-color: #bdaa8f;
    box-shadow: 0px 0px 1px 1px #70665c, 0px 0px 20px 1px rgb(75, 75, 75) inset;
}

.shipYard .shipYardCont .sYMTypeBox .ownedMerch {
    order: 1;
    background-color: #af9f87;
    .sYMerchImg {
        background-color: #cac7c3;
    }
}

.buyAllinfo {
    display: inline-block;
    font-size: .95rem;
    position: relative;
    bottom: 12px;
    margin-left: 1rem;
    color: #3f3f3f;
    transition: .6s;
}

.sYbuymerchesBtn:hover .buyAllinfo {
    // margin-left: 1rem;
}

}

@media screen and (min-width: 1200px) {
    .shipYard .shipYardCont .mSSDCont .sYShipPreviewBox #sYHead, .shipYard .shipYardCont .mSSDCont .sYShipPreviewBox #sYBody, .shipYard .shipYardCont .mSSDCont .sYShipPreviewBox #sYSail {
        left: -10%;
    }
    .shipYard .shipYardCont .sYShipPreviewBox .sYReverseBtn {
        bottom: 5rem;
        z-index: 2;
        right: 0;
    }
    .shipYard .shipYardCont {
        width: 1200px;
    }
    .shipYard .shipYardCont .sYToolBox {
        right: -10px;
    }
    .shipYard .shipYardCont .sYMerchBtn .btnpri span {
        padding: 10px 10px;
    }
    .shipYard .shipYardCont .sYMTypeBox {
        height: 500px;
    }
}
.shipYard .shipYardCont .currentPreview {
    box-shadow: 1px 1px 4px 0px #000, 0 0 4px 4px #574934, 0 0 4px 8px #ce6c6c;
}
@media screen and (min-width: 1024px){
    .marMain {

        margin-bottom: 60px;
    }
}

.slick-slider {
    transition: .6s;
}


.shipYardBanner {
    overflow: hidden;
    transition: 1s;
}

    h3 {
        font-size: 1.25rem;
    }

    .shipYard {
        overflow: visible;
        margin: 50vh 0 0 0;
        padding-bottom: 6vh;
    }

    .shipYard .shipYardCont {
        // margin-top: -600px;
        position: relative;
        z-index: 5;
    }

    .marBanner {
        position: relative;
        z-index: 1;
    }


    .marMain {
        // margin-top: -300px;
    }

    .shipYardBanner {
        .slick-slider .slick-track{
            display: block;
        }

    .slider {
        width: 50%;
        margin: 100px auto;
    }

    .slick-slide {
        margin: 0px 20px;
    }

    .slick-slide img {
        width: 100%;
    }

    .slick-slide {
        transition: all ease-in-out .3s;
        opacity: 0;
    }

    .slick-active {
        opacity: 1;
    }

    // .sRBPromoBox .slick-active{
    //     -webkit-filter:brightness(.5) blur(1px);
    // }

    // .sRBPromoBox .slick-current {
    //     opacity: 1;
    //     -webkit-filter:brightness(1)blur(0px);
    // }

    // .sRPBoxRight .slick-current {
    //     -webkit-filter:brightness(.5) blur(1px);
    // }

    *{
        &:focus {
        outline: rgba(0, 0, 0, 0) 0px;
        }
    } 

    .shipYardBanner {
        width: 100%;
    }
    .sRBCont {
            width: 1200px;
            margin: auto;
            display: flex;
            position: relative;
    }

    .sRBPromoBox {
        width: 25%;
        position: relative;
        .slick-slide {
            transition: .6s;
            transform: rotate(-60deg);
            // margin-bottom: 100px;
        }
        .sRPDShipisplay {
            width: 100%;
            position: relative; 
            &:nth-of-type(2){
                
            }
            &:nth-of-type(3){
                
            }
        }
        .sRPromoImg {
            position: absolute;
            top: 0;
            
        }
        .sRPromoBody {
            position: relative;
            top: 0;
        }
    }
    .sRPBoxLeft {
        transform: rotate(60deg) translate(-380px,125px);
        z-index: 4;
    }
    .sRPBoxRight {
        transform: rotate(-60deg) translate(380px,125px);
        z-index: 4;
            .slick-slide {
                transform: rotate(60deg);
            }    
    }

    .sRPBoxmain {
        width: 50%;
        box-sizing: border-box;
        padding: 0 10%;
    }
    @keyframes sRShip {
        from {
            left: 0px;
            transform: rotate(-2deg);
        }
        16%{
            left: 15px;
            transform: rotate(2deg);
        }
        33%{
            left: 10px;  
            transform: rotate(-2deg);
        }
        50%{
            left: 20px;
            transform: rotate(2deg);
        }
        66%{
            left: 15px;
            transform: rotate(-2deg);
        }
        83%{
            left: 10px;
            transform: rotate(2deg);
        }
        to {
            left: 0px;
            transform: rotate(-2deg);
        }
    }

    .sYPPreviewshelf {
        box-sizing: border-box;
        // padding: 30px;
        position: relative;
        .promoPartBox {
            // width: 50%;
            text-align: left;
            // display: flex;
            
            .promoPartImg {
                width: 50%;
                position: relative;
                
                .spromoCircle {
                    transition: .6s;
                    position: absolute;
                    z-index: -1;
                    top: 1vw;
                    left: 0;
                    width: 96px;
                    height: 96px;
                    border-radius: 50%;
                    background-color: #bdaa8f;
                    box-shadow: 
                                0px 0px 1px 1px #70665c,
                                0px 0px 20px 1px rgb(0, 0, 0) inset,
                                0 0 0 4px #635950,
                                0px 0px 4px 5px #ffffff,
                                0px 0px 4px 11px #ac4d4d,
                                0px 0px 4px 12px #742e2e;
                                display: none;
                }
                .pPreviewHeadBox {
                    // left: 30%;
                    // transform: scale(1.3);
                    // position: relative;
                }
                .pPreviewBodyBox {
                    // top: 4px;
                    // left: -3px;
                    // position: relative;
                }
                .pPreviewSailBox {
                    // top: 25px;
                    // left: -19%;
                    // transform: scale(1.3);
                    // position: relative;
                }

            }
            .promoPartintro {
                // margin: 0 0 0 2rem;
                // padding-top: 50px;
                // width: 50%;
                    span {
                        color: #303030;
                    }
                    .promoPartPrice {
                        color: #a34f49; 
                        margin-left: 1rem;
                    }
                    h3 {
                        margin-bottom: -50px;
                    }
            }
        }
        .promoHead {
            position: absolute;
            top: 0;
            left: 0;
            .promoPartImg {
                // margin-left: 28%;
                margin: auto;
                img {
                    margin-left: -20%;
                    opacity: 0;
                }
            }
            .promoPartintro  {
                position: absolute;
                bottom: 100px;
            }
            
        }
        .promoBody {
            position: relative;
            top: 0;
            left: 0;
                .promoPartImg {
                    margin: auto;
                    img {
                        opacity: 0;
                    }
                }
                .promoPartintro  {
                    position: absolute;
                    margin-top: -20px;
                    left: 50%;
                    transform: translateX(-50%);
                }
        }
        .promoSail {
            position: absolute;
            top: 0;
            left: 0;
            .promoPartImg {
                margin: auto;
                img {
                    margin-left: 50%;
                    // margin-top: 20px;
                    opacity: 0;
                }
            }
            .promoPartintro  {
                position: absolute;
                right: 7%;
                bottom: 100px;
            }
        }
    }

    .sRPLBoxmain, .sRPRBoxmain {
        margin-top: 250px;
        z-index: 3;
        position: absolute;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .sRPRBoxmain {
        opacity: 0;
    }
    .sYPPreviewBox {
        position: relative;
        .sYPbuymerchesBtn {
        position: relative;
        left: 75%;
        bottom: 46px;
        }
    }
    .slick-current .sYPPreviewshelf .promoHead .promoPartImg img{
        opacity: 1;
    }
    .slick-current .sYPPreviewshelf .promoBody .promoPartImg img{
        opacity: 1;
    }
    .slick-current .sYPPreviewshelf .promoSail .promoPartImg img{
        opacity: 1;
    }

}

html {
    scroll-behavior: smooth;
  }


/////////////light-box

.clearfix {
    clear: both; }
  
  .lightbox{
    display: none;
  }
  
  .popbg{
    position: fixed;
    z-index: 19;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5); 
  }
  
  .info{
    z-index: 20;
    left: 50%;
    top: 50%;
    /* right: 0; */
    /* bottom: 0; */
    width: 450px;
    /* height: 100%; */
    transform: translate(-50%, -50%);
  
    position: fixed; }
  
  
  .axis {
    width: 450px;
    height: 20px;
    background-image: linear-gradient(0deg, rgba(175, 69, 7, 0.5) 0%, transparent 80%), linear-gradient(90deg, #af4507 30px, #f5ba61 30px, #f5ba61 60px, #af4507 60px);
    background-size: 60px 100%;
    border: 3px solid #724a0e;
    border-radius: 15px;
    position: absolute; }
  
  .axis1 {
    top: 0; }
  
  .axis2 {
    left: 0;
    bottom: 0px; }
  
  .paper {
    padding: 80px 0;
    text-align: center;
    margin: auto;
    width: 400px;
    /* height: 100%; */
    /* padding: 50px 0px; */
    background-image: linear-gradient(0deg, rgba(255, 211, 130, 1) 0%, rgba(255, 211, 130, 1) 100%);
    border: 2px solid #c28c3a;
        .titleThi {
            color:$blue;
            margin: 10px;
            font-size: 1.5rem;
        }
    }
  
  .leave{
    width: 45px;
    height: 45px;
    position: absolute;
    right: 32px;
    top: 32px;
    cursor: pointer;
  }
  .leave::after{
    content: " ";
    width: 40px;
    height: 8px;
    position: absolute;
    background-color: brown;
    transform: rotate(45deg);
    right: 7%;
    top: 40%;
  }
  .leave::before {
    content: " ";
    width: 40px;
    height: 8px;
    background-color: brown;
    transform: rotate(135deg);
    position: absolute;
    right: 7%;
    top: 40%;
  }
  .leavebuy{
    width: 45px;
    height: 45px;
    position: absolute;
    right: 32px;
    top: 32px;
    cursor: pointer;
  }
  .leavebuy::after{
    content: " ";
    width: 40px;
    height: 8px;
    position: absolute;
    background-color: brown;
    transform: rotate(45deg);
    right: 7%;
    top: 40%;
  }
  .leavebuy::before {
    content: " ";
    width: 40px;
    height: 8px;
    background-color: brown;
    transform: rotate(135deg);
    position: absolute;
    right: 7%;
    top: 40%;
  }
    .lightbox{
        .btnpri {
    margin: 10px; }
    } 
  
   .lightbox p{
      font-family: 王漢宗特明體繁;
      font-size: 20px;
      line-height: 1.6;
      text-align: left;
      color: #362e2b;
      letter-spacing: 2px;
      padding: 0 20px;
    }
    .sYMerchBtn {
        .sYBuyBtn {
            margin: 0;
        }
    }

.sYLtext {
    display: block;
    margin: 30px 0 20px 0;
    color: #303030;
}

.sYLBtnBox {
    position: relative;
    display: flex;

    justify-content: space-evenly;
}

.sYLWearBtn {
    display: block;
    
}

.sYLStorBtn {
    display: block;
    line-height: 60px;
    span {
        padding: 10px 0px 10px 20px;
        margin: 10px 0 10px 10px;
    }
    &:hover span {
        color: rgba(175, 96, 82,1);
    }
}

.sRPRBoxmain .slick-slide {
    opacity: 0;
}

.sRPRBoxmain .slick-current {
    opacity: 1;
}

@media screen and (max-width: 1200px){
    .shipYardBanner {
        display: none;
    }
    .marMain {
        overflow: hidden;
    }
    .shipYard .shipYardCont {
        // margin-top: 350px;
    }
}

@media screen and (max-width: 768px){
    .slick-slide {
        height: auto;
    }
    .shipYard .shipYardCont .sYMerch {
        padding: 0 1vw 2vw 1vw;
    }
    .buyAllinfo {
        display: none;
    }

    .shipYard .shipYardCont .sYMerch .sYMerchImg .visibleBtn {
        position: absolute;
        bottom: auto;
        left: auto;
        right: 3%;
        top: 24vw;
        transform: scale(1);
        width: 20%;
        display: none !important;
    }
    .shipYard .shipYardCont .slick-slide {
        transform: translateX(0);
    }
    #compass {
        display: none !important;
      }
}

.lightbox{

    display: none;
  }
  
  .popbg{
    position: fixed;
    z-index: 19;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5); 
  }
  
  .info{
    z-index: 20;
    left: 50%;
    top: 50%;
    /* right: 0; */
    /* bottom: 0; */
    width: 450px;
    /* height: 100%; */
    transform: translate(-50%, -50%);
    position: fixed; 
  }
  
  .axis {
    width: 450px;
    height: 20px;
    background-image: linear-gradient(0deg, rgba(175, 69, 7, 0.5) 0%, transparent 80%), linear-gradient(90deg, #af4507 30px, #f5ba61 30px, #f5ba61 60px, #af4507 60px);
    background-size: 60px 100%;
    border: 3px solid #724a0e;
    border-radius: 15px;
    position: absolute; }
  
  .axis1 {
    top: 0; }
  
  .axis2 {
    left: 0;
    bottom: 0px; }
  
  .paper {
    padding: 80px 0;
    text-align: center;
    margin: auto;
    width: 400px;
    /* height: 100%; */
    /* padding: 50px 0px; */
    background-image: linear-gradient(0deg, rgba(255, 211, 130, 1) 0%, rgba(255, 211, 130, 1) 100%);
    border: 2px solid #c28c3a; }
  
  .leave{
    width: 45px;
    height: 45px;
    position: absolute;
    right: 32px;
    top: 32px;
  }
  .leave::after{
    content: " ";
    width: 40px;
    height: 8px;
    position: absolute;
    background-color: brown;
    transform: rotate(45deg);
    right: 7%;
    top: 40%;
  }
  .leave::before {
    content: " ";
    width: 40px;
    height: 8px;
    background-color: brown;
    transform: rotate(135deg);
    position: absolute;
    right: 7%;
    top: 40%;
  }
  .lightbox .btnpri {
    margin: 10px; }
  
   .lightbox p{
      font-family: 王漢宗特明體繁;
      font-size: 20px;
      line-height: 1.6;
      text-align: left;
      color: #362e2b;
      letter-spacing: 2px;
      padding: 0 20px;
    }

.lightbox {
    input {
        height: 20px;
        border-radius: 2px;
        background: #fff;
        border: 1px  #aaa solid;
        cursor: pointer;
        margin: 5px; }
      
      .btnpri {
        margin: 10px; }
      
      #tab-demo ul > li {
        display: inline; }
      
      .titlePri {
        margin: 10px;
        font-size: 20px; }
      
      .Data-Title {
        float: left;
        width: 25%;
        /* Label寬度，視情況調整 */
        margin-right: 0px;
        margin-left: 60px;
        text-align: right;
        line-height: 2.2; }
      
      .Data-Items {
        float: left;
        width: 20%;
        padding-bottom: 10px;
        margin-left: 0; }
      
      .verification {
        margin-left: 50%;
        transform: translateX(-50%);
        float: left; 
        a {
            border: 1px solid #aaa;
            background-color: rgb(255,239,215);
            border-radius: 5px;
            padding: 0 10px;
            text-decoration: none;
            color: #333;
        }
        img {
            width: 100px;
            height: 100px;
        }
    }
      
      .Data-Title > label {
        margin: 10px; }
      
    //   .paper {
    //     width: 450px;
    //     padding: 50px 0; }
      
      @media screen and (max-width: 768px) {
        .info {
          width: 370px; }
        .axis {
          width: 370px; }
        .paper {
          width: 350px; } 
        
        }
          
}
//-----

.marketADCont {
    transition: .6s;
    position: relative;
    z-index: 0;
}

.mlslBox, .marBoard {
    z-index: -1;
}

.piratesLoadingWrap {
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    z-index: -10;
    // background: #222222;
}

.loadingsYItembg {
    width: 100%;
    height: 100vh;
    position: absolute;
    opacity: 1;
    transition: all .3s;
    overflow: hidden;
    z-index: 3;
    }

    .loadingsYItembg .loadingsRDNWrap {
      overflow: hidden;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0; }
      
.loadingsRBgWeather {
    transform: rotate(20deg) translate(-300px,-100px);
    transform-origin: center;
    position: relative;
}

.pirateLoadingShip {
    width: 15%;
    position: absolute;
    z-index: 1;
    bottom: 20vh;
    left: 48%;
    transform: translate(-50%,0);
    animation: pirateShip 5s ease-in-out infinite alternate;
    z-index: 1;
    img {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
    }

    .loadingHead {
        position: absolute;
        top: 0;
        left: 0;
    }
    .loadingSail {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.lWBFront {
    position: absolute;
    bottom: 0;
    width: 100%; 
    // background-image: linear-gradient(0deg, rgb(134, 241, 241) 0%, rgba(0, 126, 126,.5) 10%, rgba(0, 153, 153,.2) 30%, transparent 100%);
    padding-top: 10vh;
    z-index: 2;

    img {
        position: absolute;
        bottom: -10vh;
        opacity: .8;
        height: 48vh;
        z-index: 1;
        left: 0;
    }
    img:nth-of-type(1){
        position: relative;
        animation: stormWavesdefault 5s 5s ease-in-out infinite alternate;
        transform: rotate(5deg) scale(1.15);
    }
    img:nth-of-type(2){
        animation: stormWavesa 2s 5s ease-in-out infinite alternate;
        transform: rotate(20deg) scale(1.15);
    }
    img:nth-of-type(3){
        animation: stormWavesb 3s 5s ease-in-out infinite alternate;
        transform: rotate(15deg) scale(1.15);
    }
    img:nth-of-type(4){
        animation: stormWavesb 4s 5s ease-in-out infinite alternate;
        transform: rotate(15deg) scale(1.15);
    }
    img:nth-of-type(5){
        animation: stormWavesa 6s 5s ease-in-out infinite alternate;
        transform: rotate(20deg) scale(1.15);
    }
}

.lWBBack {
    position: absolute;
    bottom: 0;
    width: 100%; 
    background-image: linear-gradient(0deg, rgb(134, 241, 241) 0%, rgba(0, 126, 126,.5) 10%, rgba(0, 153, 153,.2) 30%, transparent 100%);
    padding-top: 10vh;
    z-index: 2;
    
    img {
        position: absolute;
        bottom: -10vh;
        opacity: .8;
        height: 48vh;
        z-index: 1;
        left: 0;
    }
    img:nth-of-type(1){
        position: relative;
        
        animation: stormWavesa 6s ease-in-out infinite alternate;
    }
    img:nth-of-type(2){
        
        animation: stormWavesb 4s .5s ease-in-out infinite alternate;
    }
    img:nth-of-type(3){
        animation: stormWavesb 3s .4s ease-in-out infinite alternate;
    }
    img:nth-of-type(4){
        animation: stormWavesa 2s ease-in-out infinite alternate;
    }
    img:nth-of-type(5){
        height: 68vh;
        bottom: -30vh;
        animation: stormWavesdefault 5s ease-in-out infinite alternate;
    }
}

.lWBFront {
    z-index: 0;
    animation: lWBFrontAnimation 5s 5s ease-in-out infinite alternate;
    transform: scale(1.1);
}

.lWBBack {
    z-index: 2;
    animation: lWBFBackAnimation 5s ease-in-out infinite alternate;
    transform: rotateY(180deg) scale(1.1);
}

@keyframes lWBFrontAnimation {
    from {
        transform: rotateZ(0deg) scale(1.1);
    }
    to {
        transform: rotateZ(-20deg) scale(1.1);
    }
}

@keyframes lWBFBackAnimation {
    from {
        transform: rotateZ(0deg) rotateY(180deg) scale(1.1);
    }
    to {
        transform: rotateZ(20deg) rotateY(180deg) scale(1.1);
    }
}

@keyframes pirateShip {
    from {
        transform: rotate(-10deg) translate(-30%, -15px);
    }
    25%{
        
    }
    50%{
        
    }
    65%{

    }
    to {
        transform: rotate(25deg) translate(-75%, 40px);
    }
}

@keyframes stormWavesdefault {
    from {
        transform: rotate(5deg) translate(0, 0) scale(1.05);
    }
    to {
        transform: rotate(-5deg) translate(0, 0) scale(1.05);
    }
}


@keyframes stormWavesa {
    from {
        transform: rotate(20deg) translate(-100px, 0) scale(1.1);
    }
    to {
        transform: rotate(10deg) translate(0, 0) scale(1.1);
    }
}

@keyframes stormWavesb {
    from {
        transform: rotate(15deg) translate(100px, 0) scale(1.18);
    }
    to {
        transform: rotate(-5deg) translate(-100px, 0) scale(1.18);
    }
}

@keyframes stormWavesc {
    from {
        transform: rotate(10deg) translate(0px, 0) scale(1.1);
    }
    to {
        transform: rotate(0deg) translate(100px, 0) scale(1.1);
    }
}

@keyframes stormWavesd {
    from {
        transform: rotate(5deg) translate(100px, 0) scale(1.1);
    }
    to {
        transform: rotate(0deg) translate(0px, 0) scale(1.1);
    }
}

.merchHead .previewHeadBox {
    animation: previewHeadActive 1.5s ease-in-out infinite alternate;
}

.merchBody .previewBodyBox {
    animation: previewBodyActive 1.5s ease-in-out infinite alternate;
}

.merchSail .previewSailBox {
    animation: previewSailActive 1.5s ease-in-out infinite alternate;
}

.mydefaultHead .previewHeadBox{
    animation: previewHeadActive 0s ease-in-out infinite alternate;
}

.mydefaultBody .previewBodyBox{
    animation: previewHeadActive 0s ease-in-out infinite alternate;
}

.mydefaultSail .previewSailBox{
    animation: previewHeadActive 0s ease-in-out infinite alternate;
}

@keyframes previewHeadActive {
    from {
        transform: translateY(-4px) scale(1.3);
    }
    to {
        transform: translateY(4px) scale(1.3);
    }
}

@keyframes previewBodyActive {
    from {
        transform: translateY(-4px) scale(1.3);
    }
    to {
        transform: translateY(4px) scale(1.3);
    }
}

@keyframes previewSailActive {
    from {
        transform: translateY(-4px) scale(1.3);
    }
    to {
        transform: translateY(4px) scale(1.3);
    }
}

.thisWeekTitle {
    margin-top: 50px;
    font-size: 1.5rem;
    display: block;
    color: #a34f49;
    text-shadow: .3px .3px 0px #000;
}

.sYShopTitle {
    font-size: 1.5rem;
    display: block;
    color: #a34f49;
    text-shadow: .3px .3px 0px #000;
    text-align: center;
}

.pirateShipSec {
    left: 24%;
    bottom: 30vh;
    width: 10%;
    animation: smallerShipRepositionSec 5s ease-in-out infinite alternate;
}

.pirateShipThird {
    left: 72%;
    bottom: 30vh;
    width: 10%;
    animation: smallerShipRepositionThird 5s ease-in-out infinite alternate;
}

@keyframes smallerShipRepositionSec{
    from {
        transform: rotate(-10deg) translate(-30%, 5vh);
    }
    25%{
        
    }
    50%{
        
    }
    65%{

    }
    to {
        transform: rotate(25deg) translate(-75%, -12vh);
    }
}

@keyframes smallerShipRepositionThird{
    from {
        transform: rotate(-10deg) translate(-75%, -8vh);
    }
    25%{
        
    }
    50%{
        
    }
    65%{

    }
    to {
        transform: rotate(25deg) translate(-30%, 15vh)
    }
}

.btnpri:hover span{
    text-shadow: 1px 1px 1px #000;
}

a {
    cursor: pointer;
}

.goToSMarketTitle {
    text-align: center;
    display: block;
    margin-top: 15px;
    position: relative;
    z-index: 1;
    span {
        font-size: 1.25rem;
        color: #21729e;
    }
    
    &:hover span {
        color: #2f83b1;
        text-shadow: .1px .1px .1px #000;
    }
}

.goToSSRTitle {
    text-align: center;
    display: block;
    margin-top: 15px;
    span {
        font-size: 1.25rem;
        color: #21729e;
    }
    
    &:hover span {
        color: #2f83b1;
        text-shadow: .1px .1px .1px #000;
    }
}

.sYGoToShiprank h4{
    font-size: 1.25rem;
}

.goToSMarketTitle:hover {
    img {
        animation: arrowAnimation 1s infinite alternate;
    }
}

@keyframes arrowAnimation  {
    from{
        transform: rotate(270deg) translateX(3px);
    }
    to{
        transform: rotate(270deg) translateX(-3px);
    }
}

.sYDownarrow {
    width: .6rem;
    transform: rotate(270deg);
    padding: 0 5px;
}

@media screen and (max-width: 1200px){
    .marketADCont {
        display: none;
    }
    .thisWeekTitle {
        display: none;
    }
    .goToSMarketTitle {
        display: none;
    }

    .marMain {
        margin-top: 0;
    }
    
    .shipYard .shipYardCont .mSSDCont #drawLineCanvas {
    display: none;
    }
    
    .marBanner {
        margin-top: 200px;
    }
    .shipYard .shipYardCont .sYMerchText span {
        margin-right: .5rem;
    }
    #compass {
        display: none;
    }
}
header {
    z-index: 20;
}